@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: payda-Regular;
  font-weight: 400;
  src: url('../src/fonts/payda/woff/PeydaWeb-Regular.woff') format("woff");
}
@font-face {
  font-family: payda-Medium;
  font-weight: 500;
  src: url('../src/fonts/payda/woff/PeydaWeb-Medium.woff') format("woff");
}
@font-face {
  font-family: payda-SemiBold;
  font-weight: 600;
  src: url('../src/fonts/payda/woff/PeydaWeb-SemiBold.woff') format("woff");
}
@font-face {
  font-family: payda-Bold;
  font-weight: 700;
  src: url('../src/fonts/payda/woff/PeydaWeb-Bold.woff') format("woff");
}
@font-face {
  font-family: payda-ExtraBold;
  font-weight: 800;
  src: url('../src/fonts/payda/woff/PeydaWeb-ExtraBold.woff') format("woff");
}
@font-face {
  font-family: payda-Black;
  font-weight: 900;
  src: url('../src/fonts/payda/woff/PeydaWeb-Black.woff') format("woff");
}
@font-face {
  font-family: Montserrat-Regular;

  src: url('../src/fonts/Montserrat-Regular.ttf') format("trueType");
}
@font-face {
  font-family: Montserrat-Bold;

  src: url('../src/fonts/Montserrat-Bold.ttf') format("trueType");
}
.font-normal{
  font-weight: 400;
  @apply rtl:font-paydaRegular ltr:font-MontserratRegular;
}
.font-medium{
  font-weight: 500;
  @apply rtl:font-paydaMedium;
}
.font-semibold{
  font-weight: 600;
  @apply rtl:font-paydaSemiBold ltr:font-MontserratBold;
}
.font-bold{
  font-weight: 700;
  @apply rtl:font-paydaBold ltr:font-MontserratBold;
}
.font-extrabold{
  font-weight: 800;
  @apply rtl:font-paydaExtraBold ltr:font-MontserratBold;
}
.font-black{
  font-weight: 900;
  @apply rtl:font-paydaBlack ltr:font-MontserratBold;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: payda-Regular !important;
  user-select: none;
  overflow-x: hidden;
}
/* global styles */
a {
  cursor: pointer;
  transition: all .4s
}
.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.transition {
  @apply transition-all duration-300;
}
/* border */
.border-gradient{
  border: 1px solid #0000;
  border-radius: 14px;
  background: 
    conic-gradient(#fff /* the background color */ 0 0) padding-box,
    linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #E4E4E4 100%) border-box;
}
/* bg */
.bg-blur {
  background-color: rgba(255, 255, 255, 0.91);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.bg-blur2{
  backdrop-filter: blur(4px)
}
.bg-gradient{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) -15.73%, rgba(255, 151, 4, 0.21) 94.27%);
}
.bg-gradient2{
  background: linear-gradient(180deg, #FFFFFF 0%, #FF9704 100%);
}
.bg-gradient3{
  background: linear-gradient(90deg, rgba(255, 235, 208, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
}
.bg-gradient4{
  background: linear-gradient(90deg, rgba(44, 44, 44, 0.21) 0%, rgba(255, 233, 202, 0) 79.56%);
}
.bg-gradient5{
  background: linear-gradient(90deg, rgba(44, 44, 44, 0) 0%, rgba(255, 255, 255, 0.072) 100%);
}
.bg-gradient6{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.21) 0%, rgba(255, 233, 202, 0) 79.56%);
}
.bg-gradient7{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1239) 0%, rgba(255, 233, 202, 0) 79.56%);
}
.bg-gradient8{
  background: linear-gradient(90deg, rgba(2, 34, 195, 0) 0%, rgba(255, 255, 255, 0.234) 100%);
}
.bg-gradient9{
  background: linear-gradient(89.85deg, #FFFFFF 0.13%, rgba(255, 245, 232, 0) 38.33%);
}
.bg-gradient10{
  background: linear-gradient(180deg, #FF9704 -16.07%, rgba(219, 219, 219, 0.55) 100%);
}
/* after */
.gradient-after::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 31.94%, #FF9704 100%);
}
.gradient-after2::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 26.43%, #160C59 104.07%);
}
.gradient-after3::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 49.64%, #FF9704 110.53%);
}
/* hover */
.btnHover {
  transition: all .4s;
  overflow: hidden;
  position: relative;
}
.btnHover::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient( 120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70% );
  top: 0;
  left: -100px;
  opacity: 0.6;
}
.btnHover:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.card {
  transform-style: preserve-3d;
}

.card img.img {
  transition: all .4s;
  pointer-events: none;
  z-index: 10!important;
}
.card:hover img.img {
  transform: translate3d(-10%, -10%, 20px);
}
.card:hover .sneakers {
  transform: translateZ(40px);
  opacity: 0.85;
}
@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
/* testimonials */
.testimonials > div > div > div.active,.testimonials > div > div > div:hover {
  background-color: white;
  box-shadow: -4px 11px 31px 5px #71717129;
}
.testimonials > div > div p{
  transition: all .4s;
}
.testimonials > div > div.active p,.testimonials > div > div:hover p{
  color: black;
}
/* dropdown */
.dropdownContent {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: all .4s;
}
.dropdownContent.active {
  max-height: fit-content;
  overflow: visible;
}
.mobileMenu {
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
  top: 220px;
}
.mobileMenu.active {
  opacity: 100%;
  visibility: visible;
  top: 191px;
}
#dropdownBtn svg.active {
  transform: rotate(0);
}
/* input number */
input[type="number"] {
  -moz-appearance: textfield;
}
.otpInput[disabled="true"]{
  border: 1.4px solid #EEF1FA;
}
.otpInput:focus{
  border: 1.4px solid #7E5EFF;
  color: #7E5EFF;
}
.otpInput[disabled=""]{
  border: 1.4px solid #7E5EFF;
  color: #7E5EFF;
}
/* editor */
.editor-section img{
  border-radius: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.editor-section table{
  @apply overflow-hidden w-full ltr:text-left text-right;
}
.editor-section thead{
   @apply text-black;
}
.editor-section th{
  @apply py-3 px-4 text-sm sm:text-base border border-[#0000001A];
}
.editor-section tbody{
  @apply [&>*:nth-child(even)]:bg-white [&>*:nth-child(odd)]:bg-[#F8F8F8];
}
.editor-section tbody tr {
  @apply sm:text-sm text-xs;
}
.editor-section tbody td{
  @apply py-3 px-4 border border-[#0000001A] opacity-60;
}
.editor-section a{
  background-color: #7e7eff;
  opacity: 100%;
  border-radius: 8px;
  padding: 3px;
  color: white;
  margin-right: 4px;
  margin-left: 4px;
}
.editor-section ul{
  @apply border-dashed ltr:border-l-2 ltr:border-r-0 ltr:pl-[18px] ltr:pr-0 border-r-2 pr-[18px] border-[#00000026] my-5 mr-4 ltr:ml-4 ltr:mr-0;
}
.editor-section ul li{
  @apply relative -right-[28px] first:pt-0 last:!pb-0 ltr:-left-[29px] ltr:right-0 flex items-center gap-2 py-3;
}
.editor-section ul li::before{
  content: url('../src/img/solar_check-circle-bold-duotone.png');
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.editor-section ul li::before{
  @apply rtl:-right-7 ltr:-left-7
}
.editor-section ul li{
  @apply text-sm text-[#7f7f7f] mx-7;
}
/* accordion */
.acordionBtn,.acordionBtn2{
  cursor: pointer;
}
.acordionBtn2 img.arrow{
  transition: all .4s;
}
.acordionBtn img.active,.acordionBtn2 img.arrow.active{
  transform: rotate(180deg);
}
.acordionContent,.acordionContent2 {
  max-height: 0;
  overflow: hidden;
  transition: all .4s;
}
.acordionContent.active,.acordionContent2.active {
  max-height: 2000px;
  overflow: visible;
}
/* jalalidatapicker */
.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #ff9704 !important;
}
.daterangepicker{
  font-family: payda-Regular !important;
}
/* shadow */
.shadow-1 {
  box-shadow: 0px 11px 28px 0px #8B8B8B1F;
}
.shadow-2{
  box-shadow: -14px 11px 80px 0px #F76B16B2;
}
.shadow-next {
  box-shadow: -2px 0px 24px 0px #0000001A;
}
.shadow-hover:hover{
  box-shadow: 0px 11px 28px 0px #FF97042E;
}
/* swiper */
.banner .swiper-pagination-bullet{
  width: 9px!important;
  height: 9px!important;
  background-color: #B0B7BF!important;
  border-radius: 70px!important;
  transition: all .4s!important;
  opacity: 100;
  margin: 0 2px!important;
}
.banner .swiper-pagination-bullet-active{
  width: 29px!important;
  background-color: #FF9704!important;
}
.banner .swiper-pagination{
  bottom: -6px!important;
}
.swiper-button-next::after,.swiper-button-prev::after {
  content: none!important;;
}
/* swiper effect */
.data_imagesContBottomTop {
  transform: translate(0, 450px);
}
.banner .swiper-slide-active div.data_imagesContBottomTop {
  transform: translate(0, 0);
}
@media only screen and (max-width: 768px) {
  .banner .swiper-pagination-bullet{
    width: 4px!important;
    height: 4px!important;
  }
  .banner .swiper-pagination-bullet-active{
    width: 14px!important;
  }
}